.custom-toast {
    position: absolute;
    width: calc(100% - 17px);
    background-color: var(--palette1-1);
    z-index: 2;
    color: white; 
    .icon {
        flex-basis: 50px;
        font-size: 48px;
    }
    .text {
        height: 72px;
        margin-left: 14px;
        span {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 100%;
        }
    }
}

.custom-toast.WARNING {
    background-color: var(--warning-light);
    color: white; 
}
.custom-toast.DANGER {
    background-color: var(--danger-light);
    color: white; 
}
.custom-toast.SUCCESS {
    background-color: var(--success-light);
    color: white; 
}