.create-todo {
    z-index: 2;
    min-height: 35%;
    max-height: 55%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 17px;
    background-color: var(--light-tint-9);
    border-radius: 10% 10% 0 0;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    h3 {
        text-align: center;
        margin: 0 0 0 0;
        user-select: none;
    }
    .reset-button {
        position:absolute;
        padding: 6px;
        font-size: 20px;
        border-radius: 50%;
        right: 0;
    }
    form {
        height: 100%;
        display: flex;
        flex-flow: column;
        margin-top: 8px;
        .form-group {
            .input-group {
                .create-todo-variant-name {
                    border-top: 1px solid var(--light-tint-3);
                    border-bottom: 1px solid var(--light-tint-3);
                    border-left: 1px solid var(--light-tint-3);
                    border-right: none;
                }
                .create-todo-variant-dropdown {
                    
                }
                .create-todo-add-tag {
                    padding: 6px 12px;
                }
                .create-todo-due-date, .create-todo-due-time {
                    padding: 5px 7.5px;
                    height: 30px;
                }
            }
        }
        .form-group:not(:first-child) {
            margin-top: 3px;
        }
        .tag-list {
            min-height: 10px;
            flex: 1;
        }
        .create-todo-submit {
            background-color: var(--palette2-4);
            &:hover {
                background-color: var(--palette2-1);
            }
        }
    }
}
.blank-extension {
    height: 3000px;
    background-color: var(--light-tint-9);
    margin: -18px;
}