.create-todo {
    min-height: 35%;
    max-height: 55%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light-tint-9);
    border-radius: 10% 10% 0 0;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    form {
        height: 100%;
        display: flex;
        flex-flow: column;
        .form-group {
            .input-group {
                .create-todo-variant-name {
                    border-top: 1px solid var(--light-tint-3);
                    border-bottom: 1px solid var(--light-tint-3);
                    border-left: 1px solid var(--light-tint-3);
                    border-right: none;
                }
                .create-todo-variant-dropdown {
                    
                }
                .create-todo-add-tag {
                    border-top-right-radius: 2px;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 0;
                    padding: 6px 12px;
                }
            }
        }
        .form-group:not(:first-child) {
            margin-top: 3px;
        }
        .tag-list {
            min-height: 10px;
            flex: 1;
        }
        .create-todo-submit {
            background-color: var(--palette2-4);
            &:hover {
                background-color: var(--palette2-1);
            }
        }
    }
}