.custom-input {
    appearance: none;
    border-radius: 3px;
    border: 1px solid var(--light-tint-3)
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea {
    display: block;
    width: 100%;
    padding: 5px 7.5px;
}