:root {
    --main-bg-color: #EDE9E8;
    --main-text-color: #0b0a04;

    --dark-shade-1: #020202;
    --dark-shade-2: #0c0c0c;
    --dark-shade-3: #161616;
    --dark-shade-4: #1f1f1f;
    --dark-shade-5: #292929;
    --dark-shade-6: #333;
    --dark-shade-7: #3d3d3d;
    --dark-shade-8: #474747;
    --dark-shade-9: #505050;
    --dark-shade-10: #5a5a5a;
    --dark-shade-11: #646464;
    --dark-shade-12: #6e6e6e;
    --dark-shade-13: #787878;

    --light-tint-1: #818181;
    --light-tint-2: #8b8b8b;
    --light-tint-3: #959595;
    --light-tint-4: #9f9f9f;
    --light-tint-5: #a9a9a9;
    --light-tint-6: #b3b3b3;
    --light-tint-7: #bcbcbc;
    --light-tint-8: #c6c6c6;
    --light-tint-9: #d0d0d0;
    --light-tint-10: #dadada;
    --light-tint-11: #e4e4e4;
    --light-tint-12: #ededed;
    --light-tint-13: #f7f7f7;

    --dark-bg-text-color: #F1EDED;

    --palette1-1: #00adcc;
    --palette1-2: #009ccc;
    --palette1-3: #008bcc;
    --palette1-4: #007acc;
    --palette1-5: #0069cc;
    --palette1-6: #0058cc;
    --palette1-7: #0047cc;

    --palette2-1: #413695;
    --palette2-2: #493695;
    --palette2-3: #513695;
    --palette2-4: #593695;
    --palette2-5: #613695;
    --palette2-6: #693695;
    --palette2-7: #713695;

    --danger: #ef5350;
    --danger-light: #ff4444;
    --danger-dark: #cc0000;
    --danger-text: white;
    
    --warning-light: #ffbb33;
    --warning-dark: #ff8800;
    --warning-text: #ededed;
    
    --success-light: #00c851;
    --success-dark: #007e33;
    --success-text: #ededed;
    
    --info-light: #33b5e5;
    --info-dark: #0099cc;
    --info-text: #ededed;
}


* {font-family: 'Monaco', 'Menlo', 'Consolas', 'Droid Sans Mono', 'Inconsolata', 'Courier New', Courier, monospace;}

*, *::before, *::after {box-sizing: border-box;}

html, body, .root { 
    height: 100%;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    // overflow-y: hidden;
    color: var(--main-text-color);
}

#root {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    // height: 100%;
}

.line-through, .strike-through {text-decoration: line-through;}
.input-group, .row, .d-flex {display: flex;}
.form-group, .column {display: flex; flex-flow: column;}
.flex-1{flex:1}
.m-2{margin:10px;}
.p-2{padding:10px;}
.pb-35{padding-bottom: 35px;}
.w-100, .w100 {width: 100%;}
.h-100, .h100 {height: 100%;}
.center {display:flex; justify-content: center; align-items: center; align-content: center;}
.bgless, .backgroundless {background-color: #00000000 !important;}
.relative {position:relative}